<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Analyzer</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;600;700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>

<footer class="footer">
    <p>
        View the source on
        <a href="https://github.com/SharmSiv/my-cybersecurity-obsession/tree/main/Password-Analyzer"
           target="_blank"
           rel="noopener noreferrer">
            my repo :)
        </a>
    </p>
</footer>

<body>
<pre class="corner-art top-left">
⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤⣤
⣿⡿⢯⡉⠱⢾⣇⣶⠋⣀⠾⢁⡰⠞⠁⢰⠋⠉⠀⣀⠾⠉⢀⡰⠞⠁
⣿⢧⡈⢱⣶⡎⠉⣿⠶⠿⢶⣸⡇⠀⢀⡼⠄⠀⣀⠿⠀⢰⡎⠁⠀⠀
⣿⠚⢳⡎⠉⢱⣶⠉⠀⠀⣴⠛⠓⢲⣾⡇⡄⠀⣿⠀⠀⢸⡇⠀⠀⠀
⣿⣀⣸⣇⡰⠎⠉⠶⣀⣶⠉⢀⡰⠎⠉⠉⠉⣶⣿⣀⣀⣸⡇⠀⠀⠀
⣿⠉⢉⣹⡇⠀⣀⠶⠿⠿⣀⢸⡇⠀⠀⢀⠶⠉⠉⠉⣹⠿⠷⠆⠀⠀
⣿⠒⠚⠙⢳⣶⡃⠀⠀⠀⣼⣾⡇⠀⠀⢸⠀⠀⠀⣤⠓⠀⠀⠀⠀⠀
⣿⢠⣤⣤⣤⣼⡅⠀⣤⠛⠀⠀⠘⢣⡄⢸⠀⠀⠀⣿⠀⠀⠀⠀⠀⠀
⣿⠓⠀⠀⠀⠘⢻⣿⠀⠀⠀⣰⠤⠤⠼⠿⣀⠀⠀⣿⠀⠀⠀⠀⠀⠀
⣿⡰⠶⠶⠶⠶⣏⣿⠀⣀⠶⠁⠀⠀⠀⠀⠉⠶⣀⣿⠀⠀⠀⠀⠀⠀
⣿⠉⠀⠀⠀⠀⠈⠿⣶⠉⠀⠀⠀⠀⢀⣠⣤⣀⣍⣿⣀⠀⠀⠀⠀⠀
⣿⠀⢀⣀⣀⣀⡀⠀⠿⣀⠀⢀⡸⠿⠟⠀⠀⠀⠀⠀⠸⠄⠀⠀⠀⠀
⣿⡰⠾⠉⠉⠉⠳⠶⣀⣿⣀⡎⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⣿⠉⠀⠀⠀⠀⠀⠀⠉⠉⣿⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠛⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
</pre>

<pre class="corner-art bottom-right">
⠀⠀⠀⠀⢸⣆⣀⣀⢀⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⣤⡎⠀⠀⠀⠀
⠀⠀⠀⠀⣸⠈⢣⡉⠉⠙⠚⠙⢷⠀⠀⠀⠀⣰⢾⠓⠛⠉⢉⡽⠀⣧⠀⠀⠀⠀
⠀⠀⠀⣰⠋⠀⠀⣹⣧⣆⣠⣀⡼⣆⠀⢀⣴⢿⣲⣤⣤⡤⡏⠀⠀⠘⣆⠀⠀⠀
⠠⣀⡴⠃⠀⠀⣴⡿⠙⢿⣇⡀⠀⠸⣎⢨⠏⠀⠀⣁⡼⠁⢱⡀⠀⠀⠘⢦⣀⡤
⠀⠈⢿⠲⢤⣰⠟⢁⣠⣾⠿⣿⣿⣯⣿⣯⠿⣿⣿⡿⣟⠀⠀⠑⣤⠤⠒⡿⠁⠀
⠀⠀⠈⢧⠀⠹⡉⢻⣟⣻⣆⣩⣾⣍⣿⡿⣄⣾⣟⢀⣿⣶⠞⢉⠇⠀⡼⠁⠀⠀
⠀⠀⠀⢸⡂⢀⣇⠀⣹⠉⠛⣿⣿⡿⢿⡿⣿⣿⣿⠋⣠⡿⡆⢸⠀⢠⡇⠀⠀⠀
⠀⠀⠀⢸⡁⣼⣿⣿⣟⣷⣾⠿⣿⣦⠀⣠⣴⣿⣿⠿⣿⣻⣁⣘⣄⠠⡇⠀⠀⠀
⠀⠀⠈⠉⠛⢬⡉⠒⠿⣋⠙⣷⣬⠿⣷⣾⢿⣇⣽⣿⣣⠔⠒⠉⡬⠟⠉⠙⠀⠀
⠀⠀⠀⠀⠀⠀⠙⢆⠀⠈⢆⣼⠟⣶⡸⣟⡾⢽⣿⡟⠁⠀⣰⠋⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠈⢧⠀⡼⠿⢧⡟⢷⣯⢱⡬⠿⢿⠀⡼⠃⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠘⣿⡁⠀⠀⠙⣿⣻⠇⠀⠀⢈⣷⠃⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠘⠁⠉⠓⢦⣀⠘⡏⢀⡴⠚⠉⠀⠃⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⢮⣿⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
</pre>
<div class="container">
<div class="card">
	<header>
		<h1>Password Analyzer<br></br></h1>
		<p>
			Curious if your password is secure enough? This
			tool will analyze your password and its strength by
			using pattern analysis, entropy, common password detection,
			dictionary detection, and even breach detection. Use this
			tool to create solid passwords that keep your accounts and
			data safe from hackers and cyber criminals. <br></br>
		</p>
		<p>NOTE: PASSWORDS ARE ANALYZED IN REAL-TIME AND DISCARDED IMMEDIATELY. 
		THEY ARE NOT LOGGED, STORED, OR SAVED IN ANY WAY.</p>
	</header>
	
	<div class="input-section">
		<label>Password</label>
		<div class="input-wrapper">
		<input
			type="password"
			id="password"
			placeholder="Enter a password"
			autocomplete="off">
			<button type="button" id="toggle-password">View</button>
		</div>	
	</div>

	<div class="score-section">
		<h2 id="strength">Waiting for input...</h2>
		<div class="progress">
			<div id="progress-bar"></div>
		</div>
		<p id="score-text">0 / 20</p>
	</div>
	
	<div class="stats-grid">
		<div class="stat-card">
		<pre class="ascii-bg">
⠀⠀⠀⠀⠀⢠⠖⠀⡜⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢱⡀⠈⣄⠀⠀⠀⠀⠀
⠀⠀⠀⠀⢠⡟⠀⣸⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢷⡀⠸⣆⠀⠀⠀⠀
⠀⠀⠀⢠⡿⠀⢰⡏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣧⠀⢹⣇⠀⠀⠀
⠀⠀⠀⣸⡇⠀⣼⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⣿⡄⠀⣿⡀⠀⠀
⠀⠀⢠⣿⠀⢸⣿⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣧⠀⢹⡇⠀⠀
⠀⠀⣸⣿⠀⠘⢿⠿⠶⢶⣻⢿⣦⣠⣦⢠⣤⣠⡿⢛⡿⠷⠿⢿⠟⠀⢸⣿⡀⠀
⠀⠠⣿⣧⣤⣤⣴⡶⠿⠿⠛⠻⣿⣿⣿⣿⣿⣿⠾⠿⠿⠿⠷⣶⣤⣤⣼⣿⡇⠀
⠀⠀⠈⠛⠛⠉⠀⢀⣴⡿⠛⣻⣿⣿⣿⣿⣿⣿⣟⠛⠻⣷⣄⠀⠀⠉⠛⠏⠀⠀
⠀⠀⠀⠀⠀⣠⣶⠟⢉⣤⣾⡿⣹⣿⣿⣿⣿⣷⠻⢷⣦⡌⠻⣷⣄⡀⠀⠀⠀⠀
⠀⠀⣀⣴⡾⠏⠁⠀⢠⣿⣏⠀⢹⣿⣿⣿⣿⣿⠀⢸⣿⡇⠀⠀⠙⢿⣦⣄⠀⠀
⢸⣿⡟⠉⠀⠀⠀⠀⠰⣿⡗⠀⠈⣿⣿⣿⣿⡏⠀⢸⣿⡇⠀⠀⠀⠀⠈⠹⣿⣿
⢸⣿⡇⠀⠀⠀⠀⠀⢘⣿⡇⠀⠀⢹⣿⣿⣿⠀⠀⠘⣿⡇⠀⠀⠀⠀⠀⠀⣿⡏
⠈⣿⡇⠀⠀⠀⠀⠀⢨⣿⡇⠀⠀⠀⢿⣿⠇⠀⠀⠀⣿⡇⠀⠀⠀⠀⠀⠀⣿⡇
⠀⢻⣷⠀⠀⠀⠀⠀⠀⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⢠⣿⡇⠀⠀⠀⠀⠀⢸⣿⠃
⠀⠸⣿⠀⠀⠀⠀⠀⠀⢿⡧⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⠀⠀⠀⠀⠀⠀⢸⡏⠀
⠀⠀⢹⡆⠀⠀⠀⠀⠀⢸⡗⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⠀⠀⠀⠀⠀⠀⣿⠁⠀
⠀⠀⠈⢧⠀⠀⠀⠀⠀⠀⣿⠀⠀⠀⠀⠀⠀⠀⠀⣸⡇⠀⠀⠀⠀⠀⢸⠇⠀⠀
⠀⠀⠀⠘⠆⠀⠀⠀⠀⠀⢹⡆⠀⠀⠀⠀⠀⠀⠀⣿⠀⠀⠀⠀⠀⢀⠎⠀⠀⠀
⠀⠀⠀⠀⠈⠀⠀⠀⠀⠀⠀⢷⠀⠀⠀⠀⠀⠀⢰⠃⠀⠀⠀⠀⠀⠈⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢆⠀⠀⠀⠀⢀⠏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠀⠀⠞⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    </pre>
			<h3>Entropy</h3>
			<p id="entropy">-- bits</p>
		</div>

		<div class="stat-card">
		<pre class="ascii-bg">
⠀⠀⠀⠀⠀⢠⠖⠀⡜⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢱⡀⠈⣄⠀⠀⠀⠀⠀
⠀⠀⠀⠀⢠⡟⠀⣸⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢷⡀⠸⣆⠀⠀⠀⠀
⠀⠀⠀⢠⡿⠀⢰⡏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣧⠀⢹⣇⠀⠀⠀
⠀⠀⠀⣸⡇⠀⣼⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⣿⡄⠀⣿⡀⠀⠀
⠀⠀⢠⣿⠀⢸⣿⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣧⠀⢹⡇⠀⠀
⠀⠀⣸⣿⠀⠘⢿⠿⠶⢶⣻⢿⣦⣠⣦⢠⣤⣠⡿⢛⡿⠷⠿⢿⠟⠀⢸⣿⡀⠀
⠀⠠⣿⣧⣤⣤⣴⡶⠿⠿⠛⠻⣿⣿⣿⣿⣿⣿⠾⠿⠿⠿⠷⣶⣤⣤⣼⣿⡇⠀
⠀⠀⠈⠛⠛⠉⠀⢀⣴⡿⠛⣻⣿⣿⣿⣿⣿⣿⣟⠛⠻⣷⣄⠀⠀⠉⠛⠏⠀⠀
⠀⠀⠀⠀⠀⣠⣶⠟⢉⣤⣾⡿⣹⣿⣿⣿⣿⣷⠻⢷⣦⡌⠻⣷⣄⡀⠀⠀⠀⠀
⠀⠀⣀⣴⡾⠏⠁⠀⢠⣿⣏⠀⢹⣿⣿⣿⣿⣿⠀⢸⣿⡇⠀⠀⠙⢿⣦⣄⠀⠀
⢸⣿⡟⠉⠀⠀⠀⠀⠰⣿⡗⠀⠈⣿⣿⣿⣿⡏⠀⢸⣿⡇⠀⠀⠀⠀⠈⠹⣿⣿
⢸⣿⡇⠀⠀⠀⠀⠀⢘⣿⡇⠀⠀⢹⣿⣿⣿⠀⠀⠘⣿⡇⠀⠀⠀⠀⠀⠀⣿⡏
⠈⣿⡇⠀⠀⠀⠀⠀⢨⣿⡇⠀⠀⠀⢿⣿⠇⠀⠀⠀⣿⡇⠀⠀⠀⠀⠀⠀⣿⡇
⠀⢻⣷⠀⠀⠀⠀⠀⠀⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⢠⣿⡇⠀⠀⠀⠀⠀⢸⣿⠃
⠀⠸⣿⠀⠀⠀⠀⠀⠀⢿⡧⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⠀⠀⠀⠀⠀⠀⢸⡏⠀
⠀⠀⢹⡆⠀⠀⠀⠀⠀⢸⡗⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⠀⠀⠀⠀⠀⠀⣿⠁⠀
⠀⠀⠈⢧⠀⠀⠀⠀⠀⠀⣿⠀⠀⠀⠀⠀⠀⠀⠀⣸⡇⠀⠀⠀⠀⠀⢸⠇⠀⠀
⠀⠀⠀⠘⠆⠀⠀⠀⠀⠀⢹⡆⠀⠀⠀⠀⠀⠀⠀⣿⠀⠀⠀⠀⠀⢀⠎⠀⠀⠀
⠀⠀⠀⠀⠈⠀⠀⠀⠀⠀⠀⢷⠀⠀⠀⠀⠀⠀⢰⠃⠀⠀⠀⠀⠀⠈⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢆⠀⠀⠀⠀⢀⠏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠀⠀⠞⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    </pre>
			<h3>Data Breach</h3>
			<p id="breach-status">Checking...</p>
		</div>

		<div class="stat-card">
		<pre class="ascii-bg">
⠀⠀⠀⠀⠀⢠⠖⠀⡜⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢱⡀⠈⣄⠀⠀⠀⠀⠀
⠀⠀⠀⠀⢠⡟⠀⣸⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢷⡀⠸⣆⠀⠀⠀⠀
⠀⠀⠀⢠⡿⠀⢰⡏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣧⠀⢹⣇⠀⠀⠀
⠀⠀⠀⣸⡇⠀⣼⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⣿⡄⠀⣿⡀⠀⠀
⠀⠀⢠⣿⠀⢸⣿⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣧⠀⢹⡇⠀⠀
⠀⠀⣸⣿⠀⠘⢿⠿⠶⢶⣻⢿⣦⣠⣦⢠⣤⣠⡿⢛⡿⠷⠿⢿⠟⠀⢸⣿⡀⠀
⠀⠠⣿⣧⣤⣤⣴⡶⠿⠿⠛⠻⣿⣿⣿⣿⣿⣿⠾⠿⠿⠿⠷⣶⣤⣤⣼⣿⡇⠀
⠀⠀⠈⠛⠛⠉⠀⢀⣴⡿⠛⣻⣿⣿⣿⣿⣿⣿⣟⠛⠻⣷⣄⠀⠀⠉⠛⠏⠀⠀
⠀⠀⠀⠀⠀⣠⣶⠟⢉⣤⣾⡿⣹⣿⣿⣿⣿⣷⠻⢷⣦⡌⠻⣷⣄⡀⠀⠀⠀⠀
⠀⠀⣀⣴⡾⠏⠁⠀⢠⣿⣏⠀⢹⣿⣿⣿⣿⣿⠀⢸⣿⡇⠀⠀⠙⢿⣦⣄⠀⠀
⢸⣿⡟⠉⠀⠀⠀⠀⠰⣿⡗⠀⠈⣿⣿⣿⣿⡏⠀⢸⣿⡇⠀⠀⠀⠀⠈⠹⣿⣿
⢸⣿⡇⠀⠀⠀⠀⠀⢘⣿⡇⠀⠀⢹⣿⣿⣿⠀⠀⠘⣿⡇⠀⠀⠀⠀⠀⠀⣿⡏
⠈⣿⡇⠀⠀⠀⠀⠀⢨⣿⡇⠀⠀⠀⢿⣿⠇⠀⠀⠀⣿⡇⠀⠀⠀⠀⠀⠀⣿⡇
⠀⢻⣷⠀⠀⠀⠀⠀⠀⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⢠⣿⡇⠀⠀⠀⠀⠀⢸⣿⠃
⠀⠸⣿⠀⠀⠀⠀⠀⠀⢿⡧⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⠀⠀⠀⠀⠀⠀⢸⡏⠀
⠀⠀⢹⡆⠀⠀⠀⠀⠀⢸⡗⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⠀⠀⠀⠀⠀⠀⣿⠁⠀
⠀⠀⠈⢧⠀⠀⠀⠀⠀⠀⣿⠀⠀⠀⠀⠀⠀⠀⠀⣸⡇⠀⠀⠀⠀⠀⢸⠇⠀⠀
⠀⠀⠀⠘⠆⠀⠀⠀⠀⠀⢹⡆⠀⠀⠀⠀⠀⠀⠀⣿⠀⠀⠀⠀⠀⢀⠎⠀⠀⠀
⠀⠀⠀⠀⠈⠀⠀⠀⠀⠀⠀⢷⠀⠀⠀⠀⠀⠀⢰⠃⠀⠀⠀⠀⠀⠈⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢆⠀⠀⠀⠀⢀⠏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠀⠀⠞⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    </pre>
			<h3>Dictionary</h3>
			<p id="dictionary-status">Waiting...</p>
		</div>

		<div class="stat-card">
		<pre class="ascii-bg">
⠀⠀⠀⠀⠀⢠⠖⠀⡜⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢱⡀⠈⣄⠀⠀⠀⠀⠀
⠀⠀⠀⠀⢠⡟⠀⣸⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢷⡀⠸⣆⠀⠀⠀⠀
⠀⠀⠀⢠⡿⠀⢰⡏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣧⠀⢹⣇⠀⠀⠀
⠀⠀⠀⣸⡇⠀⣼⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⣿⡄⠀⣿⡀⠀⠀
⠀⠀⢠⣿⠀⢸⣿⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣧⠀⢹⡇⠀⠀
⠀⠀⣸⣿⠀⠘⢿⠿⠶⢶⣻⢿⣦⣠⣦⢠⣤⣠⡿⢛⡿⠷⠿⢿⠟⠀⢸⣿⡀⠀
⠀⠠⣿⣧⣤⣤⣴⡶⠿⠿⠛⠻⣿⣿⣿⣿⣿⣿⠾⠿⠿⠿⠷⣶⣤⣤⣼⣿⡇⠀
⠀⠀⠈⠛⠛⠉⠀⢀⣴⡿⠛⣻⣿⣿⣿⣿⣿⣿⣟⠛⠻⣷⣄⠀⠀⠉⠛⠏⠀⠀
⠀⠀⠀⠀⠀⣠⣶⠟⢉⣤⣾⡿⣹⣿⣿⣿⣿⣷⠻⢷⣦⡌⠻⣷⣄⡀⠀⠀⠀⠀
⠀⠀⣀⣴⡾⠏⠁⠀⢠⣿⣏⠀⢹⣿⣿⣿⣿⣿⠀⢸⣿⡇⠀⠀⠙⢿⣦⣄⠀⠀
⢸⣿⡟⠉⠀⠀⠀⠀⠰⣿⡗⠀⠈⣿⣿⣿⣿⡏⠀⢸⣿⡇⠀⠀⠀⠀⠈⠹⣿⣿
⢸⣿⡇⠀⠀⠀⠀⠀⢘⣿⡇⠀⠀⢹⣿⣿⣿⠀⠀⠘⣿⡇⠀⠀⠀⠀⠀⠀⣿⡏
⠈⣿⡇⠀⠀⠀⠀⠀⢨⣿⡇⠀⠀⠀⢿⣿⠇⠀⠀⠀⣿⡇⠀⠀⠀⠀⠀⠀⣿⡇
⠀⢻⣷⠀⠀⠀⠀⠀⠀⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⢠⣿⡇⠀⠀⠀⠀⠀⢸⣿⠃
⠀⠸⣿⠀⠀⠀⠀⠀⠀⢿⡧⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⠀⠀⠀⠀⠀⠀⢸⡏⠀
⠀⠀⢹⡆⠀⠀⠀⠀⠀⢸⡗⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⠀⠀⠀⠀⠀⠀⣿⠁⠀
⠀⠀⠈⢧⠀⠀⠀⠀⠀⠀⣿⠀⠀⠀⠀⠀⠀⠀⠀⣸⡇⠀⠀⠀⠀⠀⢸⠇⠀⠀
⠀⠀⠀⠘⠆⠀⠀⠀⠀⠀⢹⡆⠀⠀⠀⠀⠀⠀⠀⣿⠀⠀⠀⠀⠀⢀⠎⠀⠀⠀
⠀⠀⠀⠀⠈⠀⠀⠀⠀⠀⠀⢷⠀⠀⠀⠀⠀⠀⢰⠃⠀⠀⠀⠀⠀⠈⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢆⠀⠀⠀⠀⢀⠏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠀⠀⠀⠀⠞⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    </pre>
			<h3>Recommendation</h3>
			<ul id="feedback"></ul>
		</div>
	</div>
</div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>
